<ul class='nav nav-list'>
  {% if page.url == "/ihc/index.html" %}<li class='active'>{% else %}<li>{% endif %}
  <a href='/ihc/'>Intermediate HTML &amp; CSS</a></li>

  <li class='nav-header'>Lessons</li>

  {% if page.url == "/ihc/1-button-link.html" %}<li class='active'>{% else %}<li>{% endif %}
  <a href='/ihc/1-button-link.html'>1: Button Link</a></li>

  {% if page.url == "/ihc/2-responsive-layout.html" %}<li class='active'>{% else %}<li>{% endif %}
  <a href='/ihc/2-responsive-layout.html'>2: Responsive Layout</a></li>

  {% if page.url == "/ihc/3-flowing-grids.html" %}<li class='active'>{% else %}<li>{% endif %}
  <a href='/ihc/3-flowing-grids.html'>3: Flowing Grids</a></li>
</ul>
