<ul class='nav nav-list'>
  {% if page.url == "/bhc/index.html" %}<li class='active'>{% else %}<li>{% endif %}
  <a href='/bhc/'>Beginning HTML &amp; CSS</a></li>

  <li class='nav-header'>Lessons</li>
  {% if page.url == "/bhc/1-make-a-file.html" %}<li class='active'>{% else %}<li>{% endif %}
  <a href='/bhc/1-make-a-file.html'>1: Make an HTML File</a></li>

  {% if page.url == "/bhc/2-core-tags.html" %}<li class='active'>{% else %}<li>{% endif %}
  <a href='/bhc/2-core-tags.html'>2: Core Tags</a></li>

  {% if page.url == "/bhc/3-to-the-cloud.html" %}<li class='active'>{% else %}<li>{% endif %}
  <a href='/bhc/3-to-the-cloud.html'>3: To the Cloud!</a></li>

  {% if page.url == "/bhc/4-get-stylish.html" %}<li class='active'>{% else %}<li>{% endif %}
  <a href='/bhc/4-get-stylish.html'>4: Get Stylish</a></li>

  {% if page.url == "/bhc/5-the-big-guns.html" %}<li class='active'>{% else %}<li>{% endif %}
  <a href='/bhc/5-the-big-guns.html'>5: The Big Guns</a></li>

  {% if page.url == "/bhc/6-demo.html" %}<li class='active'>{% else %}<li>{% endif %}
  <a href='/bhc/6-demo.html'>6: Demo</a></li>

  {% if page.url == "/bhc/7-closing.html" %}<li class='active'>{% else %}<li>{% endif %}
  <a href='/bhc/7-closing.html'>7: Closing</a></li>
</ul>
