<ul class='nav nav-list'>
  {% if page.url == "/bjs/index.html" %}<li class='active'>{% else %}<li>{% endif %}
  <a href='/bjs/'>Beginning Javascript</a></li>

  <li class='nav-header'>Lessons</li>

  {% if page.url == "/bjs/1-javascript-in-the-page.html" %}<li class='active'>{% else %}<li>{% endif %}
  <a href='/bjs/1-javascript-in-the-page.html'>1: Javascript in the Page</a></li>

  {% if page.url == "/bjs/2-javascript-basics.html" %}<li class='active'>{% else %}<li>{% endif %}
  <a href='/bjs/2-javascript-basics.html'>2: Javascript Basics</a></li>

  {% if page.url == "/bjs/3-dom-basics.html" %}<li class='active'>{% else %}<li>{% endif %}
  <a href='/bjs/3-dom-basics.html'>3: DOM Basics</a></li>

  {% if page.url == "/bjs/4-canvas-basics.html" %}<li class='active'>{% else %}<li>{% endif %}
  <a href='/bjs/4-canvas-basics.html'>4: Canvas Basics</a></li>

  {% if page.url == "/bjs/5-data-driven-canvas.html" %}<li class='active'>{% else %}<li>{% endif %}
  <a href='/bjs/5-data-driven-canvas.html'>5: Data Driven Canvas</a></li>
</ul>
